body{
  background-image: url(img/546689.jpg);
  background-repeat: no-repeat; /* Para não repetir a imagem*/
  background-size: cover; /* Para a imagem cobrir a página inteira*/
  background-attachment: fixed; /* Ao rolar a pagina a imagem fica parada*/
}



.rotate:hover
{
        -webkit-transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        transform: rotateZ(-30deg);
}




.redesocial{
    display: flex;
    justify-content: center;
}

.redesocial div{
    padding: 3%;
    
}

.font{
  font-family:inherit;
}


